'use strict';

module.exports = {
  // App Name
  appName: '<APPLICATION NAME>',
  // CLIENT URL
  publicDomain : 'http://CLIENT_DOMAIN_NAME', 
  // Server port
  port : 3000,
  // Configuration for stripe
  // API Keys: https://dashboard.stripe.com/account/apikeys
  // Connect Settings: https://dashboard.stripe.com/account/applications/settings
  //https://dashboard.stripe.com/test/settings/connect
  stripe: {
    production : {
      secretKey : 'sk_live_XXXXXXXXXXXXXXXXXXXXXXXX',
      publishableKey: 'pk_live_XXXXXXXXXXXXXXXXXXXXXXX',
      whSecretKey : 'whsec_XXXXXXXXXXXXXXXXXXXXXXXXX',
      clientId: '',
     },
     development : {
      secretKey : 'sk_live_XXXXXXXXXXXXXXXXXXXXXXXX',
      publishableKey: 'pk_live_XXXXXXXXXXXXXXXXXXXXXXX',
      whSecretKey : 'whsec_XXXXXXXXXXXXXXXXXXXXXXXXX',
      clientId: '',
     }
  },
  // Base de données
  db: {
    production : {
      host:'localhost',
      name:'DBNAME',
      user:'USERNAME',
      password:'PASSWORD',
      dialect:'mariadb',
      port:'3307'
    },
    development : {
        host:'localhost',
        name:'DBNAME',
        user:'USERNAME',
        password:'PASSWORD',
        dialect:'mariadb',
      port:'3307'
      }
  },
  // JW TOKEN
  jw: {
    accessToken: {
      type: 'Bearer',
      algorithm: 'HS256',
      secret: 'AZERTYUIOPQSDFGHJKJKLMNBVCXW123456790',
      expiresIn: 3600000,
      audience: '',
      issuer: ''
    },
    refreshToken: {
      expiresIn:2592000000
    }
  }

}
